<div class="section-roll smooth-scroll" id="top">
	{% include 'home/welcome.liquid' %}
	{% include 'home/socials.liquid' %}
<section class="section css" id="css">
		<div class="graphic css-graphic" role="img" aria-label="icon of retro-style plumber's face">
				{% include 'svg/web-site-promos/css.svg' %}
		</div>
		<div class="caption">
		<p class="caption-line">Professional, award-winning Web development services.</p>
		</div>
		<div class="cta">
				<a href="{{global.external-links.css}}" target="_blank" class="cta-button button" tabindex="0">The CSS Plumber</a>
		</div>
</section>
<section class="section alchemy" id="alchemy">
		<div class="graphic alchemy-graphic" role="img" aria-label="pixel icon of philosopher's stone symbol">
				{% include 'svg/web-site-promos/alchemy.svg' %}
		</div>
		<div class="caption">
		<p class="caption-line">Unlock your chemistry.</p>
		</div>
		<div class="cta">
				<a href="{{global.external-links.alchemy}}" target="_blank" class="cta-button button" tabindex="0">Alchemy Zodiac Sign Calculator</a>
		</div>
</section>
<section class="section pongscroller" id="pongscroller">
		<div class="graphic pongscroller-graphic" role="img" aria-label="pixel icon of retro-style videogame">
				{% include 'svg/web-site-promos/pongscroller.svg' %}
		</div>
		<div class="caption">
		<p class="caption-line">What if Pong, but a sidescroller.</p>
		</div>
		<div class="cta">
				<a href="{{global.external-links.pongscroller}}" target="_blank" class="cta-button button" tabindex="0">Pongscroller</a>
		</div>
</section>
<section class="section urinal" id="urinal">
		<div class="graphic urinal-graphic" role="img" aria-label="graphic of men's room bathroom sign">
				{% include 'svg/web-site-promos/urinal-checkmate.svg' %}
		</div>
		<div class="caption">
		<p class="caption-line">Apply the Number One rules.</p>
		</div>
		<div class="cta">
				<a href="{{global.external-links.urinal}}" target="_blank" class="cta-button button" tabindex="0">Urinal Checkmate</a>
		</div>
</section>
<section class="section deadlizard" id="deadlizard">
		<div class="graphic deadlizard-graphic" role="img" aria-label="cartoon image of dead lizard">
				{% include 'svg/web-site-promos/dead-pixel-lizard.svg' %}
		</div>
		<div class="caption">
		<p class="caption-line">Webcomics created between 2001-2012.</p>
		</div>
		<div class="cta">
				<a href="{{global.external-links.deadlizard}}" target="_blank" class="cta-button button" tabindex="0">Dead Lizard Graphics</a>
		</div>
</section>
{% include 'home/contact.liquid' %}
</div>
